* {
	padding: 0;
	margin: 0;
	color: #444;
	font-family: "Raleway", Helvetica, sans-serif;
}

/*Logo*/
.logo {
	width: 0;
	height: 0;
}

.logo img {
	width: 60px;
	margin-left: 1290px;
	margin-top: 10px;
}

/*Navbar*/
ul {
	list-style-type: none;
	float: left;
	
}

ul li {
	display: inline-block;
}

.link {
	width: 1300px;
	padding-top: 30px;
	top: 50%;
	left: 50%;
	transform: translate(1%, -20%);
}

.link a {
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid transparent;
	margin-left: 6px;
	transition: 0.6s ease;
}

.link a:hover {
	background-color: white;
	color: black;
}

ul li.active a {
	background-color: white;
	color: black;
}

/*Banner*/
.banner {
	height: 100vh;
	background-image: url(dark_tint.png), url(stm6.jpg);
	color: #ffffff;
	background-size: cover;
	background-position: center;
}

/*Judul*/
.judul h1 {
	font-size: 60px;
	width: 1300px;
	color: white;
	transform: translate(2%, 320%);
}

.judul p {
	font-size: 20px;
	width: 500px;
	color: white;
	transform: translate(89%, 630%);
}

/*Button*/
.button1 {
	background-color: crimson;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	height: 2.85em;
	line-height: 2.95em;
	padding: 0 3em;
	border-radius: 100px;
	border: 2px solid crimson;
	text-align: center;
	text-decoration: none;
	top: 50%;
	left: 50%;
	transform: translate(440%, 490%);
}

.button1:hover {
	background-color: transparent;
	color: #ffffff;
	transition: 0.8s ease;
	border: 2px solid crimson;
}

.big a {
	color: white;
	text-decoration: none;
}