body {
	padding: 0;
	margin: 0; 
	margin-top: 20px;
	background-image: url(dark_tint.png),url(stm2.jpg);
	background-position: center;
	background-size: cover;
}
.table h1 {
	color: crimson;
}
.table {
	width: 340px;
	height: 390px;
	padding: 40px 40px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-top: 145px;
	margin-left: 480px;
	background: rgba(0, 0, 0, 0.8);
	font-family: Century Gothic;
	color: white;
}
.tables{
	font-weight: bold;
}
.tables input[type="text"]{
	width: 100%;
	border: none;
	background: none;
	outline: none;
	border-bottom: 1px solid white;
}
.tables input[type="password"]{
	width: 100%;
	border: none;
	background: none;
	outline: none;
	border-bottom: 1px solid white;
}
button[type="submit"] {
	margin-top: 20px;
	width: 100%;
	padding: 5px;
	color: white;
	border: 2px solid white;
	background: transparent;
	letter-spacing: 1px;
	font-family: Century Gothic;
	text-transform: uppercase;
	cursor: pointer;
}
button[type="submit"]:hover {
	color: crimson;
	border: 2px solid crimson;
	background-color: transparent;
	transition: 0.5s ease;
}
.tables a {
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: crimson;
	margin-top: -20px;
}
.link {
	margin-top: 5px;

}
.tables a:hover {
	color: white;
	transition: 0.5s;
}
.judul{
	margin-top: 15px;
	font-size: 10px;
}